<!doctype html>
<html>

    <head>
        <title>Pie Chart</title>
        <link rel="stylesheet"  href="@routes.Assets.versioned("stylesheets/gameStyle.css")">
        <script src="@routes.Assets.versioned("javascripts/js.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/chart.js")" type="text/javascript"></script>
    </head>

    <body>
        <h2 align="center">Statistics</h2>
        <h3 align="center">Lose Count &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Win Count</h3>
        <div id="pieChart" class="chart"></div>
        <h4 align="center" id="avg"></h4>
    </body>

</html>
